node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.DS_Store
*.log
logs
*.pid
*.pid.lock
*.seed
*.tgz
.npm
.eslintcache
.node_repl_history
*.tsbuildinfo
.vscode
.idea
scripts/
client/
vpnportal/
backend/logs
frontend/build
frontend/node_modules
backend/node_modules